*{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;


}	

#navbar{
	background-color: #938985;
}

#aboutme{
	background-color: #d1d2d5;
}

#project{
	background-color: #938985;
}

#tools{
	background-color: #d1d2d5;
}

#htmlcard{
	background-color: #938985;
}

#bootstrapcard{
	background-color: #938985;
}

#nodejscard{
	background-color: #938985;
}

#contact{
	background-color: #938985;
}

#sendbutton{
	background-color: #d1d2d5;
}

#footer{
	background-color: #d1d2d5;
}


#icon{
	display: inline-flex;
	margin-left: 5px;
}

